html, body {
  padding: 0;
  margin: 0;
}

/**
 * The zoomslider in the second map shall be placed between the zoom-in and
 * zoom-out buttons.
 */


/*.ol-zoom .ol-zoom-out {*/
/*  margin-top: 204px;*/
/*}*/
/*.ol-zoomslider {*/
/*  background-color: transparent;*/
/*  top: 2.3em;*/
/*}*/

/*.ol-touch .ol-zoom .ol-zoom-out {*/
/*  margin-top: 212px;*/
/*}*/
/*.ol-touch .ol-zoomslider {*/
/*  top: 2.75em;*/
/*}*/

/*.ol-zoom-in.ol-has-tooltip:hover [role=tooltip],*/
/*.ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {*/
/*  top: 3px;*/
/*}*/

/*.ol-zoom-out.ol-has-tooltip:hover [role=tooltip],*/
/*.ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {*/
/*  top: 232px;*/
/*}*/


 /*ScaleLine */
.ol-scale-line {
  background: wheat;
}
.ol-scale-line-inner {
  background-color: rebeccapurple;
  border: 2px solid red;
}
.ol-scale-line-inner:hover {
  background-color: rosybrown;
  border: 2px solid red;

}
